<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CPGRAMS-Home</title>
    <title>Welcome to CPGRAMS</title> 
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About Department of Administrative Reforms & Public Grievances </h1>
    <p> Department of Administrative Reforms & Public Grievances (DAR&PG) is the nodal agency to formulate policy guidelines for citizen-centric governance in the country. Redress of citizen's grievances, being one of the most important initiatives of the department, DAR&PG formulates public grievance redress mechanisms for effective and timely redress / settlement of citizen's grievances.</p>
    <p> The DAR&PG has been making endeavors to bring excellence in public service delivery and to redress grievances of citizens in a meaningful manner by effectively coordinating with different Ministries and Departments of the Government and trying to eliminate the causes of grievances.</p>
    <p> Bharat ChatBot Study Project is aimed at providing the citizens with a platform for redress of their grievances. If you have any grievance against any Government organization in the country, you may lodge your grievance here which will go to the Ministry/Department/State Government concerned for immediate redress.</p>
      
    {% endblock %}
  </body>
</html>
